Foi escolhido analisar os dados sobre o Titanic.

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns


Titanic_data_raw=pd.read_csv('titanic_data.csv')
Titanic_data_Maior_idade=Titanic_data_raw
Titanic_data_Maior_idade['Age']=Titanic_data_Maior_idade['Age']>13
Titanic_data_raw

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,True,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,True,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,True,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,True,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,True,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,False,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,True,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,False,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,True,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,True,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,False,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,True,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,True,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,True,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,True,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,True,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,False,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,False,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,True,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,False,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,True,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,True,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,True,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,True,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,False,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,True,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,False,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,True,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,False,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,False,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,True,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,True,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,False,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,True,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,True,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,True,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,True,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,False,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,False,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,True,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,True,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,True,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,True,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,True,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,True,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,True,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,True,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,False,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,True,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,True,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,True,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,True,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,True,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,True,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,True,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,True,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,True,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,False,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,True,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,True,0,0,370376,7.7500,NaN,Q

Pelo site do Kaggle temos: Pclass a classe social(varia de primeira a terceira), a coluna SibSp significa relações de esposo(a) e irmãos no navio. Parch é o numero de parentes na forma(Pais, mães e filhos).
      A idade se terminar em 0.5 é estimada(idades menores de 1 tb são fracionarias). Embarked é o porto em q a pessoa embarcou. Os demais dados são triviais.

Algumas perguntas iniciais a serem feitas é:

1º Mulheres e crianças realmente tiveram vantagens na chance de sobrevivência?(Mulheres e crianças primeiro) 

2º Qual a relação do tamanho da familia da pessoa presente e chance de sobrevivencia?

3º Relação entre poder financeiro(representada pela classe)

por último. Uma curiosidade pessoal sobre o tamanho da fámilia em relação as várias classes sociais.

Como vou analisar a taxa de sobrevivência varias vezes. Criarei funcões genéricas para isso.

In [2]:
#as pessoas maiores de 18 ficarão marcadas como True
def media(Variavel_Independente):
    return (Titanic_data_Maior_idade.groupby(Variavel_Independente))['Survived'].mean()

In [47]:
print media('Sex')['female']
print media('Age')
print media('Pclass')

0.742038216561
Age
False    0.379032
True     0.385692
Name: Survived, dtype: float64
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

A média de mulheres está muito maior que as de homem. O que mostra que sobreviveram mais mulheres. Já as crianças também viveram mais. Nota-se também a progressão infelizmente esperada nas classes sociais. Porém eu quero saber qual a chance de isto ter sido só um desvio estátistico. para tanto farei um teste t.

Considerarei durante o teste que meus dados são só uma amostra pois irei comparar com uma população ficticia para ver a chance de o que aconteceu ter sido puramente aleatório. Usarei o $\alpha=0.05$ como meu crivo de algo aleatório.

In [20]:
def desvio_padrao(Variavel_Independente):
    return (Titanic_data_Maior_idade.groupby(Variavel_Independente))['Survived'].std(ddof=1)    
def Tamanho_Amostra(Variavel_Independente):    
    return (Titanic_data_Maior_idade.groupby(Variavel_Independente))['Survived'].count()

In [32]:
print desvio_padrao('Sex')
print desvio_padrao('Age')
print desvio_padrao('Pclass')
print Tamanho_Amostra('Sex')
print Tamanho_Amostra('Age')
print Tamanho_Amostra('Pclass')

Sex
female    0.438211
male      0.391775
Name: Survived, dtype: float64
Age
False    0.486127
True     0.487137
Name: Survived, dtype: float64
Pclass
1    0.484026
2    0.500623
3    0.428949
Name: Survived, dtype: float64
Sex
female    314
male      577
Name: Survived, dtype: int64
Age
False    248
True     643
Name: Survived, dtype: int64
Pclass
1    216
2    184
3    491
Name: Survived, dtype: int64

Nota-se um desvio padrão maior nas mulheres. Mas a informação importante irei descobrir ao fazer o teste t. 

Minha hipótese nula é de que não haverá diferença entre a sobrevivência das mulheres e a dos homens. $\mu_H=\mu_M$ que pode ser reescrita como $\mu_H-\mu_M=0$ já a hipótese alternativa é $\mu_H-\mu_M \neq 0$. Aonde os $\mu$ representam a população de homens e mulheres salvas

In [45]:
#Erro na variancia_pooled######!!!!!!!!!!!!!!!!!!!!!!!!

def variancia_pooled(Variavel_Independente,Alvo1,Alvo2):
    grouped_survived1=((Titanic_data_Maior_idade.groupby(Variavel_Independente))['Survived'])[Alvo1]
    diff_media1=grouped_survived1-media(Variavel_Independente)[Alvo1]
    grouped_survived2=(Titanic_data_Maior_idade.groupby(Variavel_Independente))['Survived'][Alvo2]
    diff_media2=grouped_survived2-Media_T(Variavel_Independente)[Alvo2]    
    return ((diff_media1*diff_media1).sum()[Alvo2]+(diff_media1*diff_media1)[Alvo1].sum())/(Tamanho_Amostra(Alvo1)+Tamanho_Amostra(Alvo2)-2)                                                                          
                                                                               
def T_estatistica(Variavel_Independente,Alvo1,Alvo2):
    desvio_padrao_T_Raw=desvio_padrao(Variavel_Independente)
    Media_T_Raw=media(Variavel_Independente)
    variancia_corrigida=variancia_pooled(Variavel_Independente,Alvo1,Alvo2)
    Standard_Error =(variancia_corrigida/(Tamanho_Amostra(Alvo1))+variancia_corrigida/(Tamanho_Amostra(Alvo1))**(0.5))
    Media_T = Media_T_Raw[Alvo2]-Media_T_Raw[Alvo1]
    return Media_T/Standard_Error

In [62]:
#print (Titanic_data_Maior_idade.groupby('Sex'))['Survived'].transform(lambda x: x-3).

AttributeError: 'Series' object has no attribute 'groups'

In [46]:
print T_estatistica('Sex','female','male')

ValueError: cannot set an array element with a sequence